<div class="main-container">
  <div class="row min-height-600 no-flex-wrap">
    <div class="card col-md-3 mr-1">
      <div class="col pl-0 pr-0">
        <div class="card mt-4 mb-5 border-none text-center">
          <h4>Gestion de stock</h4>
          <small class="form-text text-muted">By Tarek & Lyes</small>
        </div>
        <div>
          <app-menu></app-menu>
        </div>
      </div>
    </div>
    <div class="card col-md-9 pl-0 pr-0 backgroung-grey border-none">
      <div class="col pl-0 pr-0 d-flex flex-column justify-content-between">
        <div class="card p-3 min-height-80 mb-1">
          <app-header></app-header>
        </div>
        <div class="card mb-2" style="min-height: 480px">
          <app-loader></app-loader>
          <router-outlet></router-outlet>
        </div>
        <div class="card min-height-80">
          footer
        </div>
      </div>
    </div>
  </div>
</div>
